*{
    font-family: sans-serif;
}

footer{
    background-color: #e7effc;
}

footer .footer__content{
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 47rem;
}

footer .footer__content span{
    display: block;
    font-weight: bold;
    padding: 1.5rem;
}

footer .footer__content ul li{
    display: inline-block;
}

footer .footer__content ul a{
    display: inline-block;
    padding: 1rem;
}

footer .footer__content .footer__copyright{
    font-size: 1.4rem;
}